.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 4px 8px;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: 600;
    font-family: inherit;
    background-color: var(--light-blue-color);
    color: var(--dark-blue-color);
    cursor: pointer;
    transition: border-color 0.5s, color 0.5s;
    min-width: 60px;
}
.red {
    background-color: var(--red-color);
    color: var(--white-color);
}
.button:hover,
.button:focus,
.button:focus-visible {
    border-color: var(--dark-blue-color);
    &.red {
        border-color: var(--black-color);
        color: var(--black-color);
    }
}
