:root {
    --white-color: #faf3eb;
    --black-color: #332318;
    --brown-color: #6a472d;
    --dark-blue-color: #17517e;
    --light-blue-color: #d6eaec;
    --green-color: #d8e0bf;
    --red-color: #b4735d;
}
