.row {
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.img {
    object-fit: contain;
}

/* Mobile */
@media only screen and (max-width: 767.98px) {
    .row {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .row {
        display: flex;
        gap: 8px;
        font-size: 14px;
    }
    .cell {
        width: 120px;
    }

    .cell:first-child {
        width: 20px;
    }
    .cell:nth-child(2) {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cell:nth-child(5) {
        width: 80px;
    }

    .cell:nth-child(6) {
        width: 200px;
    }
    .cell:nth-child(7) {
        width: 110px;
    }
}

@media only screen and (min-width: 1024px) {
}
